.Sidedrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    /* padding: 32px 16px; */
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.Logo{
    height: 10%;
    margin-bottom: 30px;
    text-align: center;
}

@media(min-width: 981px){
    .Sidedrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);
    box-shadow: 15px 6px 26px 0px rgba(0,0,0,0.75);
}

.Closed{
    transform: translateX(-100%);
}