.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Auth{
    color: rgb(45, 119, 180);
}