.items{
    text-shadow: 0 1px 2px  rgb(36, 204, 72);;
    font-size: 1.25em;
    color: rgb(36, 204, 72);
    font-weight: bold;
}

.YOrder{
    color: rgb(138, 13, 13);
    font-weight: bold;
}

.Delecious{
    color: rgb(57, 160, 57);

}
