@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: 'Open Sans';
}

::selection{
  background: rgb(172, 77, 22);
  color: white;
  text-shadow: 0 1px 1.6px white; 
}